html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding:0;
  margin: auto;
}
body {
  background-color: 00bfff;
  margin: auto;
  display: block;
}
.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
input[type=text] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password], select {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit]:hover {
    background-color: #45a049;
}
#login_box{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 15px;
    width: 45%;
    margin: auto;
    z-index: 10;
    border: green 3px solid;
    display: block;
}
#signup_box {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 15px;
    width: 45%;
    margin: auto;
    z-index: 10;
    border: 3px blue solid;
    display: none;
}
#admin_box {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 25px;
    width: 45%;
    margin: auto;
    z-index: 10;
    display: none;
    border: 3px red solid;
}
#dialogoverlay{
  display: none;
  opacity: .8;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #FFF;
  width: 100%;
  z-index: 10;
}
#dialogbox{
  display: none;
  position: fixed;
  background: #000;
  border-radius:7px;
  width:550px;
  z-index: 10;
}
#dialogbox > div{ background:#FFF; margin:8px; }
#dialogbox > div > #dialogboxhead{ background: #666; font-size:19px; padding:10px; color:#CCC; }
#dialogbox > div > #dialogboxbody{ background:#333; padding:20px; color:#FFF; }
#dialogbox > div > #dialogboxfoot{ background: #666; padding:10px; text-align:right; }